
{% extends 'index.html' %}
{% load static %}
{% block body %}


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images\tom_and_jerry.png' %}" alt="tom_and_jerry" width="1100" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images\tom.jpg' %}" alt="tom" width="1100" height="300">
      </div>
      <div class="carousel-item">
        <img src="{% static 'images\jerry.jpg' %}" alt="jerry" width="1100" height="300">
      </div>
    </div>
    
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  


    <div class="jumbotron">

    <img src="{% static 'images/jerry.jpg' %}">
    <h1>hello pavan </h1>
    <h1>{{info}}</h1>
    <h1 class="text-danger">{{info.name}},{{info.age}}</h1><br>
    

    </div>
{% endblock %}
