{% extends 'index.html' %}
{% block body %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <div class="card">
                <div class="card-header">
                    <h1>About our project</h1>
                </div>
                <div class="card-body">
                    <p>Andhra Pradesh State Skill Development Corporation (APSSDC) is a unique organization formed as a Public-Private Partnership(PPP) corporation to promote skill-development & entrepreneurship in the state of Andhra Pradesh. The corporation is incorporated as 
                        a Section-8 company (not-for-profit) with a private equity component of 51% and 49% by Govt of AP. The Corporation now serves as the "Executive Agency" for the newly formed Department of Skill Development, Entrepreneurship and Innovation. APSSDC will 
                        also serve the important task of providing high quality skilled manpower as part of the "Knowledge and Skills Mission" of GoAP, which is one of the cross-cutting missions among the seven missions formed by the govt to facilitate double digit growth of the state.

                    </p>
                    <p>
                        As per some estimates, Andhra Pradesh will face an incremental Human resources requirement of approximately 10 million skilled workers between 2012 till 2022, across the high-priority and emerging sectors. Thus the main objective of the corporation is to implement
                         a structured and pragmatic solution to skill & upskill the workforce in the state of A.P. and to increase employability, and promote entrepreneurship in sync with Industrial growth of the state. And this will be done in a mission mode and the target is to skill 
                         20 million people in 15 years by meeting skilled human power demands of all missions and shape AP as the skilled-workforce and Knowledge hub for the world

                    </p>

                </div>
            </div>
        </div>
        
    </div>
</div>




{% endblock %}