{% extends 'index.html' %}
{% load static %}
{% block body %}

<div class="row">
    <br><br>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
        <div class="card-header text-info">
            About institution
        </div>
        <div class="card-body">
            <p>
                ANIL NEERUKONDA INSTITUTE OF TECHNOLOGY AND SCIENCES (ANITS), was established in the Academic Year2001-02 with the approval of the ALL INDIA COUNCIL FOR TECHNOLOGY EDUCATION (AICTE), New Delhi and the Government of Andhra Pradesh and is affiliated to ANDHRA UNIVERSITY(AU), Visakhapatnam.

"ANITS"is located in a plot of 12 acres area in Sangivalasa Village of Bheemunipatnam Mandalam and is approximately 300 meters from the Chennai Kolkatta Highway.The institute is 27 Kms. from Visakhapatnam and is within 30 minutes drive.City Service Buses ply from Vizag every 15 minutes.The campus is at a distance of 3Kms. and 1Km., respectively from Bheemunipatnam and Tagarapuvalasa.RTC Bus No.222 runs from RTC Complex to Tagarapuvalasa.

            </p>
            <div class="row">
                <div class="col-sm-1">
                    <img src="{% static 'images/logo.png' %}" width="30px" height="40px">

                </div>
                <div class="col-sm-10">
                    <h1>vision</h1>
                    <p>
                        ANITS envisions to emerge as a world-class technical institution whose products represent a good blend of technological excellence and the best of human values.

                    </p>

                </div>
            </div>
            


        </div>



    </div>
    <div class="col-sm-2">

    </div>
</div>


{% endblock %}